*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
signing.properties
*.apk
/app/release/
app/src/parser/venv/
app/src/parser/html/
app/src/parser/ingredients.xml
